@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.input {
    border: none;
    padding: 5px;
    border-radius: 5px;
    border-color: purple;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.containerVentas {
    padding: 20px;
}

.fechaEvento {
    opacity: .7;
}

.background {
    align-items: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.918);
    box-shadow: 0px 0px 15px rgba(128, 0, 128, 0.705);
    color: rgba(128, 0, 128, 0.705);
    padding: 20px;
    border-radius: 10px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: max-content;
}

.comprarContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: start;
    align-items: center;
}
.textContainer {
    width: 90%;
    gap: 8px;
    display: flex;
    text-align: start;
    padding: 10px;

}
.btnComprarContainer {
    width: 10%;
    justify-content: center;
    display: flex;

}
.btnComprar {
    border-radius: 5px;
    padding: 12px;
    width: max-content;
    font-size: 12px;
    margin-top: 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    background-color: rgb(136, 74, 136);

}

.btnComprar:hover {
    box-shadow: 0 0 10px 0 rgb(136, 74, 136);
    background-color: rgba(27, 27, 27, 0.918);
    cursor: pointer;

}

.eventosDisponibles {
    color: rgb(44, 44, 44);
    text-align: start;
    padding: 20px;
    border-right: 3px solid rgba(53, 53, 53, 0.829);
    width: 90%;
}


.ventaContainer {
    width: 500px;
    text-align: end;
    font-weight: bold;
    color: black;
    border-bottom: 2px solid rgba(53, 53, 53, 0.829);
}

.tituloEP {
    margin-top: 20px;
    color: rgb(128, 68, 128);
    font-size: 18px;
}


.background h2 {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

.background span {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.formulario {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#compraTicketContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.miTicket {
    margin-top: 25px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgb(24, 23, 23);
    width: max-content;
    width: 250px
}

#titulo {
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(24, 23, 23);
}

#descripcion {
    margin-top: 10px;
    color: rgba(20, 19, 19, 0.678);
    font-size: 10px;
}

.btnEnviar {
    border-radius: 5px;
    padding: 12px;
    width: max-content;
    font-size: 12px;
    margin-top: 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    background-color: rgb(136, 74, 136);

}

.btnEnviar:hover {
    box-shadow: 0 0 10px 0 rgb(136, 74, 136);
    background-color: rgba(27, 27, 27, 0.918);
    cursor: pointer;
}



.eventosLista {
    font-weight: bold;
}

.text {
    color: rgb(128, 68, 128);
    font-size: 1rem;
    padding: 8px;
    font-weight: bold;
}

.btnOpcion {
    border-radius: 5px;
    padding: 8px;
    width: max-content;
    font-size: 15px;
    margin-top: 10px;
    border: none;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(136, 74, 136);
}

.btnOpcion:hover {
    box-shadow: 0 0 10px 0 rgb(136, 74, 136);
    background-color: rgba(27, 27, 27, 0.918);
    cursor: pointer;
}