@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.input {
    border: none;
    padding: 5px;
    border-radius: 5px;
    border-color: purple;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes colorChange {
    0% {
        color: black;
        font-size: 24px;
    }

    50% {
        color: violet;
        font-size: 30px;
    }

    100% {
        color: black;
        font-size: 24px;
    }
}

.formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#compraTicketContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.miTicket {
padding: 25px;
border-radius: 5px;
    background-color: beige;
    box-shadow: 0 0 2px 0  rgb(24, 23, 23);
    width: max-content;
}

#titulo {
    text-transform: uppercase;
    color: rgb(24, 23, 23);
}

#descripcion {
    margin-top: 10px;
    color: rgba(20, 19, 19, 0.678);
    font-size: 15px;
}

.btnEnviar {
    border-radius: 5px;
    padding: 8px;
    width: max-content;
    font-size: 10px;
    margin-top: 10px;
    border: none;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(136, 74, 136);

}

.textContainer {
    gap: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.eventosLista {
    font-weight: bold;
}

.text {
    font-size: 1rem;
    padding: 8px;
    font-weight: bold;
}

.btnOpcion {
    border-radius: 5px;
    padding: 8px;
    width: max-content;
    font-size: 15px;
    margin-top: 10px;
    border: none;
    margin-bottom: 20px;
    color: white;
    background-color: rgb(136, 74, 136);
}

.background {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.918);
    box-shadow: 0px 0px 15px rgba(128, 0, 128, 0.705);
    color: rgba(128, 0, 128, 0.705);
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    height: auto;
    text-align: center;
}

.background:hover {
    animation: fadeOut 2s ease-in-out;

}

.background h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
}

.background span {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}